@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --darkGreen: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --gray: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --head: 2rem;
  --text: 1rem;
}

img{
  max-width: 100%;
}

.container{
  min-height: 100vh;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box{
  margin: 1em 2em;
  max-width: 400px;
  background-color: white;
  border-radius: 1.3em;
}

.desktop_img{
  display: none;
} 

.mobile_img{
  border-radius: 1em 1em 0 0;
}

.card-text{
  text-align: left;
  margin: 1.53em 2em;
}

.product{
  font-family: "Montserrat", sans-serif;
  font-size: var(--text);
  color: var(--gray);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 500;
}

.product_title{
  font-size: var(--head);
  font-weight: 700;
  font-family: "Fraunces", serif;
  line-height: 1;
  margin: 0.6em 0 0.7em 0;
}

.description{
  font-family: "Montserrat", sans-serif;
  width: 96%;
  font-size: var(--text);
  color: var(--gray);
  font-weight: 1.5em;
}

.green_text{
  margin-right: 0.3em;
  color: var(--darkGreen);
}


.strike{
  text-decoration: line-through;
  align-self: center;
}

.btn{
  display: block;
  margin: 2em 0 1em 0;
  background-color: var(--darkGreen);
  width: 100%;
  padding: 1em 0;
  color: var(--white);
  border: 0;
  border-radius: 0.7em;
  outline: none;
  cursor: pointer;
}

.btn:hover{
  background-color: hsl(155, 30%, 22%);
}

.btn_img{
  margin-right: 1em;
  max-width: 100%;
}

.btn_text{
  color: var(--white);
}

.price{
  margin-top: 40px;
}

@media (min-width: 650px) {
  .card-box {
    display: flex;
    max-width: 700px;
  }

  .desktop_img {
    display: block;
    width: 900px;
    height: 100%;
    border-radius: 1.5em 0 0 1.5em;
  }

  .mobile_img {
    display: none;
  }

  .product_title {
    width: 80%;
  }
} 

.card-box{
  box-shadow: 0px 3px 100px rgb(0, 0, 0);
  border-radius: 30px;
}